@media (min-width: 768px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
  
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
  
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }
  
  /* Other styles for the page not related to the animated dropdown */
  
body {
    background: #007bff;
    background: linear-gradient(to bottom, #41afd1, #a476b5);
}

.team-bg{
  background: #9B8AB4;
}

.text-color{
  color: #9B8AB4;
}
 
.contact-image {
    background-image: url('images/gojo3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    position: relative;
    background-color: black;
    height: 70vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
  
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
header .container {
    position: relative;
    z-index: 2;
  }
  
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
@media (pointer: coarse) and (hover: none) {
    header {
      background: url('images/gojo2.mp4') ;
      /* black no-repeat center center scroll */
    }

}

.dashed{
  border: 6px dashed #a476b5;
}

.text-purple{
  color: #a476b5;
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}